<section class="py-12 md:py-20 lg:py-30">
    <div class="max-w-5xl px-3 mx-auto grid md:grid-cols-2 items-start gap-6">
        <div>
            <h2 class="text-3xl md:text-5xl font-bold mb-6 eading-[1.2]">This is what people say about me</h2>
            <p class="text-lg text-gray-500 eading-[1.5] max-w-147 mb-10">Here are a few lines from people who I have
                worked with over the past 8+ years in my design career.</p>
            <a href="#" class="text-white mt-auto eading-[1.75] border-b pb-1 border-gray-500">See all testimonials</a>
        </div>
        <div class="grid gap-y-12 md:gap-y-30">
            <a href="#" class="block group">
                <div class="overflow-hidden">
                    <img src="blog-1.png" class="group-hover:scale-125 duration-1000" alt="blog-1">
                </div>
                <span class="block border border-gray-600 p-8 lg:p-16">
                    <span class="block text-h5 mb-16 font-bold">‘’Robin is one of the best designers I have worked with in my entire life. He is a designer who is very capable of taking up complex projects and delivers impeccable design.’’</span>
                    <span class="block text-lg text-gray-600 font-bold mb-1">Richard Owens</span>
                    <span class="block text-lg text-gray-600">CEO, Company 1</span>
                </span>
            </a>
            <a href="#" class="block group">
                <div class="overflow-hidden">
                    <img src="blog-2.png" class="group-hover:scale-125 duration-1000" alt="blog-2">
                </div>
                <span class="block border border-gray-600 p-8 lg:p-16">
                    <span class="block text-h5 mb-16 font-bold">‘’I think Robin has an incredible gift. It has been an absolute pleasure to work with a designer of this caliber.’’</span>
                    <span class="block text-lg text-gray-600 font-bold mb-1">Emily Parker</span>
                    <span class="block text-lg text-gray-600">CEO, Company 2</span>
                </span>
            </a>
            <a href="#" class="block group">
                <div class="overflow-hidden">
                    <img src="blog-3.png" class="group-hover:scale-125 duration-1000" alt="blog-3">
                </div>
                <span class="block border border-gray-600 p-8 lg:p-16">
                    <span class="block text-h5 mb-16 font-bold">‘’All I can say that, Robin is a phenomenal designer. The wavelength at which he thinks is astoundaing. I love the focus, passion and attention to detial in the design.’’</span>
                    <span class="block text-lg text-gray-600 font-bold mb-1">Vincent  Rudd</span>
                    <span class="block text-lg text-gray-600">CEO, Company 3</span>
                </span>
            </a>
        </div>
    </div>
</section>