<section class="max-w-4xl px-5 md:px-10 lg:px-18 mx-auto py-16 md:py-20 lg:py-30">
        <h2 class="text-3xl md:text-5xl font-bold mb-6 eading-[1.2]">Dribbble</h2>
        <p class="text-lg text-gray-500 eading-[1.5] max-w-147 mb-10">Each dribbble shot is made with love and care. Do
            check out my work on Dribbble. Likes and comments are appreciated.</p>
        <a href="#" class="text-white mt-auto eading-[1.75] border-b pb-1 border-gray-500">Follow me on Dribbble</a>
        <img src="dribbble.png" class="mt-30" alt="dribbble"
        srcset="dribbble-xs.png 320w, dribbble-md.png 688w, dribbble.png 1076w"
        sizes="(max-width: 767px) 320px, (max-width: 1024px) 688px, 1076px"/>
</section>