<div class="modal" id="modal-1">
    <div class="modal-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio delectus libero magnam velit voluptatibus
        voluptates repellendus! Quisquam tempore suscipit facilis, alias libero, beatae harum necessitatibus repellendus
        animi architecto ratione dicta pariatur aspernatur nostrum quae eveniet commodi ut amet autem voluptatem ullam!
        Vero suscipit perspiciatis facilis vel, consequuntur excepturi eum hic repellat repellendus obcaecati laborum
        aliquam incidunt delectus aperiam nam laudantium quod, porro voluptate aspernatur. Nesciunt eveniet eum minima
        mollitia beatae blanditiis quod, aut asperiores voluptatem quos quaerat esse maiores obcaecati atque aliquid
        necessitatibus, ipsa tempora. Quidem, corporis dolore eius quos quam explicabo natus distinctio maxime numquam,
        ut repudiandae corrupti facilis quaerat repellendus. Ex molestias veniam impedit assumenda consequuntur modi,
        temporibus provident accusamus. Totam perspiciatis cumque ad animi autem dignissimos quia, quas assumenda
        officiis doloribus facilis nesciunt neque repellendus sint nihil, expedita, culpa ab? Atque eum excepturi
        reiciendis libero, amet doloremque. Aspernatur, accusamus exercitationem sint neque atque voluptatum a ipsa
        veritatis nisi deserunt dolores nulla ducimus! Excepturi accusantium voluptate labore facilis ut alias quidem
        corporis, cum delectus eligendi reiciendis laboriosam, ullam voluptatibus mollitia perferendis quam numquam
        provident laudantium quibusdam ipsum dicta tenetur a officia. Sunt ab magnam nemo dolorum inventore, ipsam,
        soluta earum beatae dolorem officia pariatur fugiat modi, facilis numquam.
        <button type="button" id="close-window" class="px-8 py-3 bg-pink-400 hover:bg-pink-600 cursor-pointer">close window</button>
    </div>
</div>
 

<style>
    .modal {
        position: fixed;
        inset: 0;
        background: #000000ba;
        backdrop-filter: blur(10px);
        z-index: 20;
        display: none;
        align-items: center;
        justify-content: center;
        &.show {
            display: grid;
        }
    }

    
</style>