<section class="max-w-7xl w-full mx-auto px-5 md:px-10 lg:px-18 py-12 md:py-20 lg:py-30">
    <h2 class="text-3xl md:text-5xl font-bold mb-6 eading-[1.2]">Photography</h2>
    <p class="text-lg eading-[1.5] mb-24 text-gray-500 max-w-147">Here is a collection of my best travel pictures that I
        took while travelling places all around the world. </p>
    <div id="tabs" class="tabs">
        <nav id="tabs-nav" class="mb-10 grid grid-cols-2 md:flex gap-6">
            <button type="button" data-tab-content="content-1"
                class="px-4 py-2 bg-purple border border-purple cursor-pointer hover:bg-purple">ITALY</button>
            <button type="button" data-tab-content="content-2"
                class="px-4 py-2 border border-purple cursor-pointer hover:bg-purple">AUSTRALIA</button>
            <button type="button" data-tab-content="content-3"
                class="px-4 py-2 border border-purple cursor-pointer hover:bg-purple">INDIA</button>
            <button type="button" data-tab-content="content-4"
                class="px-4 py-2 border border-purple cursor-pointer hover:bg-purple">BRAZIL</button>
        </nav>
        <div>
            <div id="content-1" class="tab-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-italy-1.webp">
                    <img src='./assets/img/photography-italy-1.png' class="w-100" alt="italy">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-italy-2.webp">
                    <img src='./assets/img/photography-italy-2.png' class="w-100" alt="italy">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-italy-3.webp">
                    <img src='./assets/img/photography-italy-3.png' class="w-100" alt="italy">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-italy-4.webp">
                    <img src='./assets/img/photography-italy-4.png' class="w-100" alt="italy">
                </picture>
            </div>
            <div id="content-2" class="tab-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 hidden">
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-australia-1.webp">
                    <img src='./assets/img/photography-australia-1.png' class="w-100" alt="australia">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-australia-2.webp">
                    <img src='./assets/img/photography-australia-2.png' class="w-100" alt="australia">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-australia-3.webp">
                    <img src='./assets/img/photography-australia-3.png' class="w-100" alt="australia">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-australia-4.webp">
                    <img src='./assets/img/photography-australia-4.png' class="w-100" alt="australia">
                </picture>
            </div>
            <div id="content-3" class="tab-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 hidden">
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-india-1.webp">
                    <img src='./assets/img/photography-india-1.png' class="w-100" alt="india">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-india-2.webp">
                    <img src='./assets/img/photography-india-2.png' class="w-100" alt="india">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-india-3.webp">
                    <img src='./assets/img/photography-india-3.png' class="w-100" alt="india">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-india-4.webp">
                    <img src='./assets/img/photography-india-4.png' class="w-100" alt="india">
                </picture>
            </div>
            <div id="content-4" class="tab-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 hidden">
              <picture class="mx-auto">
                    <source srcset="./assets/img/photography-brazil-1.webp">
                    <img src='./assets/img/photography-brazil-1.png' class="w-100" alt="brazil">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-brazil-2.webp">
                    <img src='./assets/img/photography-brazil-2.png' class="w-100" alt="brazil">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-brazil-3.webp">
                    <img src='./assets/img/photography-brazil-3.png' class="w-100" alt="brazil">
                </picture>
                <picture class="mx-auto">
                    <source srcset="./assets/img/photography-brazil-4.webp">
                    <img src='./assets/img/photography-brazil-4.png' class="w-100" alt="brazil">
                </picture>
            </div>
        </div>
    </div>
</section>