<section class="max-w-7xl w-full mx-auto px-5 md:px-10 lg:px-18 grid md:grid-cols-2 items-start gap-6 mb-38">
    <div class="grid gap-6">
        <h6 class="mb-2 text-gray-500">MY PROJECTS</h6>
        <h2 class="text-3xl md:text-5xl font-bold max-w-172.25 mb-10">Work that I’ve done for the past 8 years</h2>
        <div class="bg-indigo-900 pb-10">
            <picture class="block mb-10 w-full">
                <source type="image/webp" media='(min-width: 1024px)' srcset='./assets/img/project-1-lg.webp'>
                <source type="image/png" media='(min-width: 1024px)' srcset='./assets/img/project-1-lg.png'>
                <source type="image/webp" media='(min-width: 768px)' srcset='./assets/img/project-1-md.webp'>
                <source type="image/png" media='(min-width: 768px)' srcset='./assets/img/project-1-md.png'>
                <source srcset="./assets/img/project-1-sm.png">
                <img src='./assets/img/project-1-sm.webp' alt="project">
            </picture>
            <h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
            <h6 class="px-8 text-lg text-gray-500">I worked with the guys at CBRE to redesign their entire website and
                mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
            </h6>
        </div>
        <div class="bg-indigo-900 pb-10">
            <picture class="block mb-10 w-full">
                <source type="image/webp" media='(min-width: 1024px)' srcset='./assets/img/project-2-lg.webp'>
                <source type="image/png" media='(min-width: 1024px)' srcset='./assets/img/project-2-lg.png'>
                <source type="image/webp" media='(min-width: 768px)' srcset='./assets/img/project-2-md.webp'>
                <source type="image/png" media='(min-width: 768px)' srcset='./assets/img/project-2-md.png'>
                <source srcset="./assets/img/project-2-sm.png">
                <img src='./assets/img/project-2-sm.webp' alt="project">
            </picture>
            <h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
            <h6 class="px-8 text-lg text-gray-500">I worked with the guys at CBRE to redesign their entire website and
                mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
            </h6>
        </div>
    </div>
    <div class="grid gap-6">
        <div class="bg-indigo-900 pb-10">
            <picture class="block mb-10 w-full">
                <source type="image/webp" media='(min-width: 1024px)' srcset='./assets/img/project-3-lg.webp'>
                <source type="image/png" media='(min-width: 1024px)' srcset='./assets/img/project-3-lg.png'>
                <source type="image/webp" media='(min-width: 768px)' srcset='./assets/img/project-3-md.webp'>
                <source type="image/png" media='(min-width: 768px)' srcset='./assets/img/project-3-md.png'>
                <source srcset="./assets/img/project-3-sm.png">
                <img src='./assets/img/project-3-sm.webp' alt="project">
            </picture>
            <h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
            <h6 class="px-8 text-lg text-gray-500">I worked with the guys at CBRE to redesign their entire website and
                mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
            </h6>
        </div>
        <div class="bg-indigo-900 pb-10">
              <picture class="block mb-10 w-full">
                <source type="image/webp" media='(min-width: 1024px)' srcset='./assets/img/project-4-lg.webp'>
                <source type="image/png" media='(min-width: 1024px)' srcset='./assets/img/project-4-lg.png'>
                <source type="image/webp" media='(min-width: 768px)' srcset='./assets/img/project-4-md.webp'>
                <source type="image/png" media='(min-width: 768px)' srcset='./assets/img/project-4-md.png'>
                <source srcset="./assets/img/project-4-sm.png">
                <img src='./assets/img/project-4-sm.webp' alt="project">
            </picture>
            <h3 class="mb-3 px-8 text-2xl font-bold">Restaurant Website Design</h3>
            <h6 class="px-8 text-lg text-gray-500">I worked with the guys at CBRE to redesign their entire website and
                mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.
            </h6>
        </div>
        <button type="button"
            class="border border-1 border-purple text-lg flex mx-auto py-6 px-8 uppercase font-bold mt-16.75 hover:bg-purple cursor-pointer">VIeW
            AlL PROJECTS</button>
    </div>
</section>