@import "tailwindcss";

/* .page-title {
    font-size: 72px;
    margin-top: 60px;
    margin-bottom: 108px;
} */
/* 
.example {
    background-color: var(--example-bg-color);
    padding: var(--example-gap) 0;
    margin-bottom: var(--example-gap);
} */

/* .container, .page-title {
    width: 100%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
} */


.navigation-link {
    position: fixed;
    left: 25px;
    bottom: 25px;
    background: #ef5777;
    padding: 9px 24px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
}